## First Assignment

#### 1) Apply the appropriate string methods to the **x** variable (as '.upper') to change it exactly to: "$Dichlorodiphenyltrichloroethane$".

In [1]:
x = "DiClOrod  IFeNi  lTRicLOr oETaNo  DiChlorod iPHeny lTrichL oroEThaNe"

In [2]:
# first try. there might be a way where I don't need to create now variables for each step? 
xnew = x.replace(" ", "") 
xnew_stripped = xnew[27:]
xnew_stripped_lower = xnew_stripped.lower()
xfinal = xnew_stripped.capitalize()
print(xfinal)

Dichlorodiphenyltrichloroethane

In [46]:
#other solution presented in class(not my own work): 
y = "DiClOrod  IFeNi  lTRicLOr oETaNo  DiChlorod iPHeny lTrichL oroEThaNe"
y.replace(" ", "")[27: ].title()

'Dichlorodiphenyltrichloroethane'

#### 2) Assign respectively the values: 'word', 15, 3.14 and 'list' to variables A, B, C and D in a single line of code. Then, print them in that same order on a single line separated by a space, using only one print statement.

In [1]:
#so second try with tuple: 
A, B, C, D = "word", 15, 3.14, "list"
print(A, B, C, D)

word 15 3.14 list

#### 3) Use the **input()** function to receive an input in the form **'68.4 1.71'**, that is, two floating point numbers in a line separated by space. Then, assign these numbers to the variables **w** and **h** respectively, which represent an individual's weight and height (hint: take a look at the '.split()' method). With this data, calculate the individual's Body Mass Index (BMI) from the following relationship: 
    
\begin{equation}
BMI = \dfrac{weight}{height^2}
\end{equation}

In [5]:
#almost there but with two  inputs
input_w = input("enter your weight in kg:" )
input_h = input("enter your height in m:" )

float_w = float(input_w)
float_h = float(input_h)

bmi = float_w/(float_h**2)
print("This is your BMI:", bmi)

enter your weight in kg: 55
enter your height in m: 170

This is your BMI: 0.0019031141868512112

#### This value can also be classified according to ranges of values, following to the table below. Use conditional structures to classify and print the classification assigned to the individual. 

<center><img src="https://healthtravelguide.com/wp-content/uploads/2020/06/Body-mass-index-table.png" width="30%"><\center>  


(source: https://healthtravelguide.com/bmi-calculator/)

In [6]:
input_w = input("enter your weight in kg:" )
input_h = input("enter your height in m:" )

float_w = float(input_w)
float_h = float(input_h)


bmi = float_w/(float_h**2)

print("This is your bmi:", bmi)

if (bmi < 18.5): 
        print ("Your nutritional status is 'Underweight'") 
elif (bmi >= 18.5) and (bmi <= 24.9):
         print ("Your nutritional status is 'Normal weight'")
elif (bmi >= 25.0) and (bmi <= 29.9):
         print("Your nutritional status is 'Pre-obesity'")
elif (bmi >= 30.0) and (bmi <= 34,9):
        print("Your nutritional status is 'Obersity class I'")
elif (bmi >= 35.0) and (bmi <= 39,9):
        print("Your nutritional status is 'Obersity class II'") 
elif (bmi >= 40):
        print("Your nutritional status is 'Obersity class III'")
else:
        print("your BMI is to low to calculate")

enter your weight in kg: 50
enter your height in m: 140

This is your bmi: 0.002551020408163265
Your nutritional status is 'Underweight'

#### 4) Receive an integer as an input and, using a loop, calculate the factorial of this number, that is, the product of all the integers from one to the number provided.

In [2]:
value = int(input())

for number in range(1,15):
    x = number*value
    print(x)

 4

4
8
12
16
20
24
28
32
36
40
44
48
52
56

#### 5) Using a while loop and the input function, read an indefinite number of integers until the number read is -1. Present the sum of all these numbers in the form of a print, excluding the -1 read at the end.

In [ ]:
value = int(input())
while True:
    x = random.randrage[-10, 10]
    sum = sum + x
    print(sum)
    if x == -1: 
        break
        
#use break statement at the end? or continue
#how to exclude -1?

In [129]:
#sum does not yet work. 
y = input("Privide a Number")
x = int(y)

while x > 1: 
    x = x - 1
    print(x)
    print(x + 1)

In [ ]:
#syntax is wrong. 
value = int(input("Give me an integer number between -10 and + 10:"))

while True:
    x = range(-10, 10):
    sum = sum(x)
    print(sum)
    if x == -1: 
        break 
    if value != <= -10 and <=10
    print("Inkorrect input")
        break 
        pass
    
    
#syntax is wrong.   
value = int(input("Give me an integer number between -10 and + 10:"))

while True:
    x = range(-10, 10)
    sum = sum(x)
    print(sum)
    if x == -1: 
        break
    elif value < -10 and value >10:
        print("Inkorrect input")
        break

In [ ]:
#new try: 
input_value = int(input())
while i in range(-10, 10): 
    print(sum(i))
    if 
    # ich kapier die frage nicht ganz. was ist der input?

#### 6) Read the **first name** of an employee, his **amount of hours worked** and the **salary per hour** in a single line separated by commas. Next, calculate the **total salary** for this employee and show it to two decimal places.

In [67]:
#google to show 2 decimals. 
#works
x = ("Nora", 40, 10)
(name, hours, salery) = x
hours = x[1]
salery = x[2]

salerytotal = (hours*salery)
print(format(salerytotal, ".2f"))

400.00

#### 7) Read three floating point values **A**, **B** and **C** respectively. Then calculate itens a, b, c, d and e:

In [70]:
A = 5
B = 20
C = 10

50

    a) the area of the triangle rectangle with A as the base and C as the height.

In [79]:
#A=h*b/2

area_triangle = (A*C)/2
print(area_triangle)

25.0

    b) the area of the circle of radius C. (pi = 3.14159)

In [73]:
#A=pi*r^2

area_circle = 3.14159*C**2
print(area_circle)

314.159

    c) the area of the trapezoid that has A and B for bases and C for height.

In [74]:
#A = (a+b/2)*h

area_trapezoid = ((A+B)/2)*C
print(area_trapezoid)

125.0

    d) the area of the square that has side B.

In [75]:
#A = a**2
area_square = A**2
print(area_square)

25

    e) the area of the rectangle that has sides A and B.

In [76]:
#A = wl 
area_rectangle = A*B
print(area_rectangle)

100

#### 8) Read **the values a, b and c** and calculate the **roots of the second degree equation** $ax^{2}+bx+c=0$ using [this formula](https://en.wikipedia.org/wiki/Quadratic_equation). If it is not possible to calculate the roots, display the message **“There are no real roots”**.

In [92]:
#is there a solution with the math package?
a = 1
b = 5
c = 4

# Python program to find roots of quadratic equation
import math 
  
# function for finding roots
def roots( a, b, c): 
  
    # calculating discriminant using formula
    dis = b * b - 4 * a * c 
    sqrt = math.sqrt(abs(dis)) 
      
    # checking condition for discriminant
    if dis > 0: 
        print(" real and different roots ") 
        print((-b + sqrt)/(2 * a)) 
        print((-b - sqrt)/(2 * a)) 
      
    elif dis == 0: 
        print(" real and equal roots") 
        print(-b / (2 * a)) 
      
    # when discriminant is less than 0
    else:
        print("There are no real roots")

roots(a, b, c)

 real and different roots
-1.0
-4.0

#### 9) Read four floating point numerical values corresponding to the coordinates of two geographical coordinates in the cartesian plane. Each point will come in a line with its coordinates separated by space. Then calculate and show the distance between these two points. 

(obs: $d=\sqrt{(x_1-x_2)^2 + (y_1-y_2)^2}$)

In [94]:
#first try
x1 = 1
y1 = 2
x2 = 3
y2 = 4

d = math.sqrt((x1 - x2)**2 + (y1-y2)**2)
print(d)

2.8284271247461903

#### 10) Read **two floating point numbers** on a line that represent **coordinates of a cartesian point**. With this, use **conditional structures** to determine if you are at the origin, printing the message **'origin'**; in one of the axes, printing **'x axis'** or **'y axis'**; or in one of the four quadrants, printing **'q1'**, **'q2**', **'q3'** or **'q4'**.

In [100]:
point = [-1, 2]
x=point[0]
y=point[1]

#check for quadrants: 
if x > 0 and y > 0: 
    print("q1")
elif x < 0 and y > 0: 
    print("q2")
elif x < 0 and y < 0: 
    print("q3")
elif x > 0 and y < 0: 
    print("q4")
elif x == 0 and y ==0: 
    print("origin")
elif x and y == 0: 
    print ("origin")
elif x == 0 and y != 0: 
    print("x axis")
elif x != 0 and y == 0: 
    print("y axis")

q2

#### 11) Read an integer that represents a phone code for international dialing.  
#### Then, inform to which country the code belongs to, considering the generated table below:
(You just need to consider the first 10 entries)

In [ ]:
import pandas as pd
df = pd.read_html('https://en.wikipedia.org/wiki/Telephone_numbers_in_Europe')[1]
df = df.iloc[:,:2]
df.head(20)

           Country Country calling code
0          Austria                   43
1          Belgium                   32
2         Bulgaria                  359
3          Croatia                  385
4           Cyprus                  357
5   Czech Republic                  420
6          Denmark                   45
7          Estonia                  372
8          Finland                  358
9           France                   33
10         Germany                   49
11          Greece                   30
12         Hungary                   36
13         Iceland                  354
14         Ireland                  353
15           Italy                   39
16          Latvia                  371
17   Liechtenstein                  423
18       Lithuania                  370
19      Luxembourg                  352

#### 12) Write a piece of code that reads 6 numbers in a row. Next, show the number of positive values entered. On the next line, print the average of the values to one decimal place.

#### 13) Read an integer **N**. Then print the **square of each of the even values**, from 1 to N, including N, if applicable, arranged one per line.

#### 14) Using **input()**, read an integer and print its classification as **'even / odd'** and **'positive / negative'** . The two classes for the number must be printed on the same line separated by a space. In the case of zero, print only **'null'**.

In [ ]:
#first idea
if x / 2 == 0
    print("even")
if not 
    print("odd")
if x > 0
    print("positive")
if not 
    print("negative")
if  x == 0
    print("null")
pass

    
#how do I get the results in one line? is there like cache storage for the duration of the call? 
#use a generator function?

In [116]:
#second try with function works but missing the input part.
x = input(int("Provide a number")
          
def evenodd(x):
    if x%2 == 0 and x > 0:
        return "even positive"
    if x%2 != 0 and x > 0:
        return "odd positive"
    if x%2 == 0 and x < 0:
        return "even negative"
    if x%2 != 0 and x < 0:
        return "odd negative"
    if x == 0:
        return "null"

evenodd(0)

SyntaxError: invalid syntax (1050071477.py, line 4)

In [28]:
#thrid try with input: 
def function_evenodd(*args):
    if args == 0: 
        args = input("Input your number here:" )
    if args%2 == 0 and args > 0:
        return "even positive"
    if args%2 != 0 and args > 0:
        return "odd positive"
    if args%2 == 0 and args < 0:
        return "even negative"
    if args%2 != 0 and args < 0:
        return "odd negative"
    if args == 0:
        return "null"

In [30]:
function_evenodd()

TypeError: unsupported operand type(s) for %: 'tuple' and 'int'

In [ ]:
#use a generator function?

## Challenge
#### 15) Ordering problems are recurrent in the history of programming. Over time, several algorithms have been developed to fulfill this function. The simplest of these algorithms is the [**Bubble Sort**](https://en.wikipedia.org/wiki/Bubble_sort), which is based on comparisons of elements two by two in a loop of passes through the elements. Your mission, if you decide to accept it, will be to input six whole numbers ramdonly ordered. Then implement the **Bubble Sort** principle to order these six numbers **using only loops and conditionals**.  
#### At the end, print the six numbers in ascending order on a single line separated by spaces.